.myResume {
  display:none;
  opacity: 0;
  width:30vw;
  height: 90vh;
  float: right;
  background-color: white;
  margin:0;
  padding-left: 0;

  a {
    color:white;
  }
}

.work {
  margin-left:0;
}

.content {
  margin-left:0;
}
