.myResume {
  display:none;
  opacity: 0;
  width:30vw;
  height: 90vh;
  float: right;
  background-color: white;
}

.myResume {
  margin:0;
}

.myResume {
  padding-left: 0;
}

.work {
  margin-left:0;
}

.content {
  margin-left:0;
}
